//- extends layout.pug
doctype html

html
  head
    style
      include ../static/index.css
  body
  nav#navbar 
    ul
        li
            a(href="/" ) Home
        li
            a(href="/about" ) About
        li
            a(href="/services" ) Services
        li
            a(href="/contact" ) Contact 
          
  section.form 
    h3  Welcom to the Dance Acedemy
    form(action="/contact" method = "post")
     input(type="text",name = 'name', placeholder = " enter your name") 
     input(type="text", name ='age' , placeholder = " enter your age") 
     input(type="email", name = 'email' , placeholder = " enter your email") 
     input(type="text", name = 'address' , placeholder = " enter your address") 
     input(type="phone", name = 'phone',placeholder = " enter your phone number") 
     button.btn 
      | submit now 
 
  
footer.footer
    p copy rights reserved 

    script
      include ../static/index.js